<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--this file is only used while generating the DDL. persistence.xml is used in deployment. -->
<hibernate-configuration>
    <session-factory name="postgres">
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql:logging</property>
        <property name="hibernate.connection.username">username</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.pool_size">1</property>


        <property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="cache.provider_configuration_file_resource_path">ehcache.xml</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.use_query_cache">true</property>

        <mapping class="eu.europeana.uim.logging.database.DatabaseLogEntry"/>
    </session-factory>
</hibernate-configuration>