<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>eu.europeana.uim.gui.gwt.Application OrchestrationService</servlet-name>
        <servlet-class>eu.europeana.uim.gui.gwt.server.OrchestrationServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>eu.europeana.uim.gui.gwt.Application OrchestrationService</servlet-name>
        <url-pattern>/Application/orchestrator</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>Application.html</welcome-file>
    </welcome-file-list>

</web-app>
