h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.uimLabel {
  font-weight: bold;
}

.uimButton {
  margin-left: 10px;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.gwt-DialogBox {
  width: 500px;
}

.gwt-DialogBox .dialogMiddleCenter {
  border-style: hidden;
}

gwt-TabLayoutPanel {
  display: block;
  height: 500px;
}

gwt-TabLayoutPanelContent {
  display: block;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 14pt;
  width: 50%;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #67A7E3;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 0px;
  margin: 0px;
  color: white;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}



